<div class="left-div">
  <div class="header">Student Portal</div>
  <div class="footer">
    <span class="text">Privacy Policy</span>
    <span>Contact</span>
  </div>
</div>
<div class="right-div">
    <div class="form-group">

      <form class="content-container"  [formGroup]="resetPasswordForm">
        <div class="log-in-header">
          <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <div>
              <span class="welcome-text">Reset </span>
              <span class="header-text">Password</span>
            </div>
            <div>
              <mat-icon (click)="navigateHome()" class="hover-circle" style="cursor: pointer;">close</mat-icon>
            </div>
          </div>
        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput  placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required') && resetPasswordForm.get('email')?.touched">
            Email is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email') && resetPasswordForm.get('email')?.touched">
            Email is invalid
          </mat-error>
        </div>
        <button class="register-button" mat-raised-button color="primary"
                (click)=" resetPassword()">Reset Password</button>
      </form>

    </div>
</div>
