<div class="left-div">
  <div class="header">Student Portal</div>
  <div class="footer">
    <span class="text">Privacy Policy</span>
    <span>Contact</span>
  </div>
</div>
<div class="right-div">
  <div class="form-group">
    <div class="log-in-header">
      <span  *ngIf="!isRegisterMode"class="welcome-text">Welcome to </span>
      <span  *ngIf="isRegisterMode" class="welcome-text">Register to </span>
      <span class="header-text">Student Portal</span>
    </div>
    <div  *ngIf="!isRegisterMode; else registerFormView">
      <form [formGroup]="loginForm">
        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput  placeholder="email" formControlName="username">
          </mat-form-field>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
            Email is required
          </mat-error>
        </div>


        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Passsword" formControlName="password">
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
             Password is required
          </mat-error>

          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            password must be at least 6 characters long
          </mat-error>

        </div>
      </form>
    </div>

    <ng-template #registerFormView>
      <form [formGroup]="registerForm">
        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-error *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched">
            First Name is required
          </mat-error>
        </div>
        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <mat-error *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched">
            Last Name is required
          </mat-error>
        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Gender</mat-label>
            <input matInput placeholder="gender" formControlName="gender">
          </mat-form-field>
          <mat-error *ngIf="registerForm.get('gender')?.hasError('required') && registerForm.get('gender')?.touched">
            Gender is required
          </mat-error>
        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Student Number</mat-label>
            <input matInput  placeholder="Student Number" formControlName="studentNumber">
          </mat-form-field>
          <mat-error *ngIf="registerForm.get('studentNumber')?.hasError('required') && registerForm.get('studentNumber')?.touched">
            StudentNumber is required
          </mat-error>
        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-error *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
            Email is required
          </mat-error>
        </div>


        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Passsword" formControlName="password">
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
            Password is required
          </mat-error>

          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
            password must be at least 6 characters long
          </mat-error>

        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword">
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched">
            Confirm Password is required
          </mat-error>

          <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">
            Confirm password must be at least 6 characters long
          </mat-error>

        </div>

      </form>
      <button class="register-button" mat-raised-button color="primary"
              (click)=" register()"
      >Register</button>
    </ng-template>
    <div class="forgot-password" *ngIf="!isRegisterMode">
      <a [routerLink]="'/reset-password'">Forgot Password?</a>
    </div>
    <button
      class="login-button"
      mat-raised-button
      color="primary"
      *ngIf="!isRegisterMode"
      (click)=" login()"
    >
      Login
    </button>
    <div class="register">
      <span *ngIf="!isRegisterMode">
        Don't have an account? <a href="" (click)="toggleRegisterMode($event)">Create Account</a>
      </span>
      <span *ngIf="isRegisterMode">
        Already have an account? <a href="" (click)="toggleRegisterMode($event)">Login</a>
      </span>
    </div>
  </div>
</div>
