<div class="left-div">
  <div class="header">Student Portal</div>
  <div class="footer">
    <span class="text">Privacy Policy</span>
    <span>Contact</span>
  </div>
</div>
<div class="right-div">
  <div class="form-group">
    <div class="log-in-header">
      <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
        <div>
          <span class="welcome-text">Change </span>
          <span class="header-text">Password</span>
        </div>
        <div>
          <mat-icon (click)="navigateHome()" class="hover-circle" style="cursor: pointer;">close</mat-icon>
        </div>
      </div>


    </div>
    <div>
      <form [formGroup]="changePasswordForm">

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Passsword" formControlName="password">
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <mat-error *ngIf="changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched">
            New Password is required
          </mat-error>

          <mat-error *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
            New password must be at least 6 characters long
          </mat-error>

        </div>

        <div class="label-color">
          <mat-form-field class="input-fields" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword">
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched">
            Confirm Password is required
          </mat-error>

          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">
            Confirm password must be at least 6 characters long
          </mat-error>

        </div>

      </form>
      <button class="register-button" mat-raised-button color="primary"
              (click)=" changePassword()">Change Password</button>
    </div>

  </div>
</div>
